@page
@model Conversion3D.WebApplication.Pages.HyperLinkModel
@{
}
<!--<form enctype="multipart/form-data" method="post">
    <input asp-page-handler=Model.Upload class="btn" type="submit" value=@Model.FileName />

    <a asp-page-handler="Download" type="submit">@Model.FileName</a>
    <input asp-page-handler="Download" class="btn" type="submit" value=@Model.FileName />

</form>-->

<form enctype="multipart/form-data" method="post">
    <input asp-page-handler="Download" class="btn" type="submit" value=@Model.FileName />
   <!-- <a action=" ="Download" type="submit">@Model.FileName </a>-->
</form>
