@page
@model Conversion3D.WebApplication.Pages.Upload3DModel
@{
    ViewData["Title"] = "Upload 3D file";

}
<link rel="stylesheet" href="~/css/StyleSheet.css">
@inject IHttpContextAccessor httpContextAccessor;

@{
 /*  var options = new CookieOptions();
    options.Expires = DateTime.Now.AddDays(1);
    options.IsEssential = true;
    options.Path = "/";
    httpContextAccessor.HttpContext.Response.Cookies.Append(
        "Cookie", "##ertgUU", options);*/


}

<body class="body-filter">
<h1></h1>
<p>The following form's page handler saves the file to disk.</p>

<form asp-validation-summary="None" enctype="multipart/form-data" novalidate method="post">
    <dl class="fon">
        <dt>
            <table  width="90%" border="1" >
                <tr>
                    <td width="70%">
                        <table width="100%">
                            <tr>
                                <td width="90%">
                                    <label asp-for="Directory"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input asp-for="Directory" type="text" class="input-filter" />
                                </td>
                            </tr>
                            <tr>
                                <td width="90%">
                                    <label asp-for="InputDirectory"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input asp-for="InputDirectory" type="text" class="input-filter" />
                                </td>
                            </tr>
                            <tr>
                                    <td>
            <dt>
                <label asp-for="FormFile"></label>
            </dt>

            <input asp-for="FormFile" type="file" />
            <span asp-validation-for="FormFile"></span>
            </td>
            </tr>
            <tr>
                <td>
            <dt>
                <label asp-for="AdditionalFile"></label>
            </dt>

            <input asp-for="AdditionalFile" class="btn" type="file" />
            <span asp-validation-for="AdditionalFile"></span>

            </td>
            </tr>
            <td>
     <dt>
            </dt>
      </span>
        </td>
        </tr>
       
        </table>
                    </td>
                    <td>
                        @foreach (var ext in Model.Extensions)
                        {
                            @Html.RadioButtonFor(model => model.Extension, ext) @ext

                            <br />
                        }
                    </td>
                </tr>
            </table>
        </dt>
    </dl>
        <input asp-page-handler="Upload" class="btnsumbit-filter" 
        type="submit" value="Upload" />
</form>
@if (Model.Tuple != null)
{
    <h1>@Model.Tuple.Item2</h1>
    <form enctype="multipart/form-data" method="post">
            <input asp-page-handler="Download"
                   class="btnsumbit-filter"
                   type="submit"
                   value=@Model.Tuple.Item2 />
</form>
}
</body>
