<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BasicEngineering.UI.Factory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BasicEngineering.UI.Factory.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pause" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartStep" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StepCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Step" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SavedState" serializeAs="String">
                <value />
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LeftPortion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RightPortion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowTree" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTools" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDatabase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimeIndicator" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoundDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowWarnings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryOfGeneratedFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="GeneratedClassName" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionStrings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="StaticClassGenerated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasLog" serializeAs="String">
                <value>False</value>
            </setting>
        </BasicEngineering.UI.Factory.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
