<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="SQLServerWarehouse.Properties.Settings.ScadaResearchConnectionString" connectionString="Data Source=3d-monstr\sqlexpress;Initial Catalog=ScadaResearch;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="SQLServerWarehouse.Properties.Settings.AstronomyExpressConnectionString" connectionString="Data Source=3D-MONSTR\SQLEXPRESS;Initial Catalog=AstronomyExpress;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="SQLServerWarehouse.Properties.Settings.ScadaResearchConnectionString1" connectionString="Data Source=3D-MONSTR\SQLEXPRESS;Initial Catalog=ScadaResearch;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="SQLServerWarehouse.Properties.Settings.ScadaResearchConnectionString2" connectionString="Data Source=IVANKOV\SQLEXPRESS;Initial Catalog=ScadaResearch;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="SQLServerWarehouse.Properties.Settings.AstronomyExpressConnectionString1" connectionString="Data Source=IVANKOV\SQLEXPRESS;Initial Catalog=AstronomyExpress;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="SQLServerWarehouse.Properties.Settings.AstronomyExpressConnectionString2" connectionString="Data Source=3D_MONSTR\SQLEXPRESS;Initial Catalog=AstronomyExpress;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
