@page
@model Conversion3D.WebApplication.Server.Pages.Upload3DModel
@{
    ViewData["Title"] = "Texture preserving conversion of 3D formats";

}
<link rel="stylesheet" href="~/css/StyleSheetIndex.css">

@inject IHttpContextAccessor httpContextAccessor;


<body class="body-main">
   <font color="green"> <p ><h1 >Texture preserving conversion of 3D formats</h1></font></p>

<form asp-validation-summary="None" enctype="multipart/form-data" novalidate method="post">
    <dl>
        <dt>
            <table class="fon-index" width="90%" border="1" >
                <tr>
                        <td>
                <table width="100%">
                <tr>
                    <td width="70%">
                        <table width="100%">
                            <tr>
                                <td width="90%">
                                    <label asp-for="Directory"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input asp-for="Directory" type="text" class="input-filter-index" />
                                </td>
                            </tr>
                            <tr>
                                <td width="90%">
                                    <label asp-for="InputDirectory"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input asp-for="InputDirectory" type="text" class="input-filter-index" />
                                </td>
                            </tr>
                                            <tr>
                                                <td>
                                                    <label asp-for="FormFile"></label><br />
                                                    <input asp-for="FormFile" type="file" />
                                                    <span asp-validation-for="FormFile"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label asp-for="AdditionalFile"></label><br />
                                                    <input asp-for="AdditionalFile" type="file" />
                                                    <span asp-validation-for="AdditionalFile"></span>
                                                </td>
                                            </tr>
                                         </table>
                    </td>
                    <td>
                                        <span align="center">Type of output files</span><br/>
                        @foreach (var ext in Model.Extensions)
                        {
                            @Html.RadioButtonFor(model => model.Extension, ext) @ext

                            <br />
                        }
                    </td>
                </tr>

</table> 
</td>
</tr>
<tr>
                <td align="center">
                    <input asp-page-handler="Upload" class="btnsumbit-filter-index"
                           type="submit" value="Covert Now" />
                </td>
                </tr>
            </table>
        </dt>
    </dl>
</form>
@if (Model.ErrorString != null)
    {
        <h1>@Model.ErrorString</h1>
    }
    @if (Model.Tuple != null)
{
    <h1 color="red">@Model.ConvertedText</h1>
    <form enctype="multipart/form-data" method="post">
            <input asp-page-handler="Download"
                   class="btnsumbit-filter-index"
                   type="submit"
                   value=@Model.Download />
</form>
}
</body>
