body {
}

th, td {
    border: 1px solid black;
    border-radius: 10px;
}

.input-filter {
    width: 100%;
    height: 100%;
    background-color: burlywood
}

.body-filter
{
    background-color: #0000FF
}

.fon
{
    background-color: #00FFFF
}

.btnsumbit-filter {
    background-color: forestgreen;
    color: white;
}

.big-c-text
{
    color : white;
    text-align : center;
}

h1 {
    color: white;
}

