@page
@model OnlineGameConverter.Server.Pages.DateTimeModel
@{
}

@{
    ViewData["Title"] = "Home Page";
}
<!-- Bootstrap -->
<script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>
<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css'
      media="screen" />
<!-- Bootstrap -->
<!-- Bootstrap DatePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
<!-- Bootstrap DatePicker -->
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#txtDate').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "dd/mm/yyyy HH:MI:SS",
                language: "tr"
            });
        });
    </script>
}
<form asp-controller="Home" asp-action="Index" method="post">
    <div class="col-12">
        <div class="col-6">
            <input type="text" id="txtDate" name="dDate" class="form-control" autocomplete="off" />
        </div>
        <div class="col-6 mt-3 text-center">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
        <div class="col-6 mt-3 text-center">
            <label id="lblDate">@ViewBag.Message</label>
        </div>
    </div>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message");
            });
        </script>
    }
</form>
Comment
