@page
@model OnlineGameConverter.Server.Pages.HomeModel
@{
}

@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/StyleSheetIndex.css">
<style>
    .div-1 {
        background-color: #EBEBEB;
    }

    .div-2 {
        background-color: #ABBAEA;
    }

    .div-3 {
        background-color: #FBD603;
    }
</style>
<body class="body-main">
    <div class="text-center">
        <h1 class="display-4">Conversion of realtime systems</h1>
    </div>

    <div>
        <table>
            <tr><td><img src=~/images/Docking.png /></td></tr>
            <tr><td><img src=~/images/J20.png /></td></tr>
            <tr><td><img src=~/images/Rafale.png /></td></tr>
        </table>
    </div>
</body>