
<link rel="stylesheet" href="~/StyleSheet.css" />

<h1 style="color:white;">This is a heading</h1>
<h3>Period</h3>
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <select name="Periods" id="PeriodID">
            <option value="">Choose an option</option>
            @foreach (var item in control.Periods)
            {
                <option value="@item">@item</option>
            }
          </select>
    </div>
<h3 style="color:white;"> Symbol</h3>    
    <div class="container-fluid">
        <select name="Symbols" id="SymbolID">
            <option value="">Choose an option</option>
            @foreach (var key in symbols.Keys)
            {
                <option value="@symbols[key]">@key</option>
            }

        </select>
    </div>

</div>



@code {
    TradingControl control;
    Dictionary<string, Guid> symbols;
    protected override async Task OnInitializedAsync()
    {
        control = new TradingControl();
        symbols = control.Symbols;
    }
}
