
th, td {
    border: 1px solid black;
    border-radius: 10px;
}

.input-filter-main {
    width: 100%;
    height: 100%;
    background-color: burlywood;
}

.body-filter
{
    background-color: aliceblue;
}

.fon
{
    background-color: antiquewhite;
}

.btnsumbit-filter {
    background-color: forestgreen;
    color: white;
}

.big-c-text
{
    color : white;
    text-align : center;
}

h1 {
    color: white;
}

.body-main {
    margin-bottom: 60px;
    background-color: aliceblue;
}

