

.body-main {
    background-color:  aliceblue;
}


.input-filter-index {
    width: 100%;
    height: 100%;
    background-color: burlywood;
}
th, td {
    border: 1px solid black;
    border-radius: 10px;
}


.btnsumbit-filter-index {
    background-color: darkolivegreen;
    color: white;
}



.fon-index {
    background-color: antiquewhite;
}
